* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Space Mono", monospace;
}

.very-dark-cyan {color:  hsl(183, 100%, 15%)};
.dark-grayish-cyan1{color:hsl(186, 14%, 43%)};
.dark-grayish-cyan2{color: hsl(184, 14%, 56%)};
.light-grayish-cyan1{color: hsl(185, 41%, 84%)}; 
.light-grayish-cyan2{color: hsl(189, 41%, 97%)};
.white{color: hsl(0, 0%, 100%)};