* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 11px;
}

body {
    font-family: "Space Mono", monospace;
    background-color: hsl(185, 41%, 84%);
}


.outerbox {
  width: 100%;
  display: flex;
  box-align: center;
  box-orient: vertical;
  box-direction: normal;    
  -ms-flex-align: center;
  align-items: center;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
}

.splitter {
  margin: 5.5rem 0 4.0rem 0;
}

.first {
  background-color: white;
  width: 100%;
  gap: 3.5rem;
  padding: 2.5rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: flex;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  
}

.first .inside {
  width: 100%;
  gap: 3.5rem;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  
}

.first .inside .label-wrapper {
  display: flex;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.6rem 0;
}


.first .inside .label-wrapper label {
  color: hsl(186, 14%, 43%);
  font-size: 1.5rem;
  font-weight: 700;
}

.first .inside .label-wrapper .error-msg {
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 0;
}

.first .inside .label-wrapper .show-error-msg {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  
}

.inp-text .first .inside  {
  background-color: hsl(189, 41%, 97%);
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
  font-size: 2.6rem;
  font-weight: 700;
  text-align: right;
  padding: 0.5rem 2.4rem;
}

.inp-text:focus .first .inside  {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.first .inside .inp-wrapper {
  position: relative;
}

.first .inside .inp-wrapper img {
  position: absolute;
  left: 2.4rem;
  top: 1.5rem;
}

.btn-wrapper .first .inside  {
  display: flex;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 1.2rem;
}

.first .inside .btn-wrapper .btn {
  width: 46%;
  text-align: center;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border-radius: 0.5rem;
  padding: 0.6rem 0;
  font-size: 2.6rem;
  font-weight: 700;
  transition: all 0.5s ease;
}

.btn:hover .first .inside .btn-wrapper  {
  background-color: #9fe8df;
}

.first .inside .btn-wrapper .btn-active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.first .inside .btn-wrapper .inp-text {
  width: 46%;
}

.first .outside {
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  border-radius: 1.5rem;
  padding: 2.2rem;
}

.first .outside .line-wrapper .line-outside {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.4rem 0 2.4rem 0;
}

.first .outside .line-wrapper .line-outside .title {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.first .outside .line-wrapper .line-outside .desc {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  font-size: 1.3rem;
}

.first .outside .line-wrapper .line-outside .value {
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 3rem;
}

.first .outside .btn {
  width: 100%;
  background-color: hsl(172, 67%, 45%);
  text-transform: uppercase;
  text-align: center;
  color: hsl(183, 100%, 15%);
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-top: 3.4rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.first .outside .btn:hover {
  background-color: hsl(172, 67%, 45%);
}





@media screen and (min-width: 1366px) {
  .first {
    width: 64%;
    box-orient: horizontal;
    box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 2.5rem;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 3.4rem;
    gap: 1.5rem;
  }
  .first .inside {
    width: 105%;
    padding: 0 3.5rem 1.5rem 1.5rem;
  }
  .first .inside .label-wrapper {
    padding: 1rem 0;
  }
  .first .inside .btn-wrapper .btn {
    width: 30.5%;
  }
  .first .inside .btn-wrapper .inp-text {
    width: 30.5%;
  }
  .first .outside {
    width: 95%;
    display: flex;
    box-orient: vertical;
    box-direction: normal;
    flex-direction: column;
    box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4rem;
  }
  .first .outside .line-wrapper .line-outside {
    margin: 0.5rem 0 2.4rem 0;
  }
  .first .outside .line-wrapper .line-outside .value {
    font-size: 4.6rem;
  }
}

.in {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
}

.label-wrapper {
  display: flex;
  align-items: .center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
  padding: 0.6rem 0;
  

}

.outside {
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  border-radius: 1.5rem;
  padding: 2.2rem;
}

.error-msg {
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
}

.inp-text {
  background-color: hsl(189, 41%, 97%);
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: right;
  padding: 0.5rem 2.5rem;


}

.inp-text:focus {
  outline: none;
  border: 2px solid hsl(183, 100%, 15%);
}

.inp-wrapper {
  position: relative;
  
  
}



.btn {
  width: 46%;
  text-align: center;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  padding: 0.6rem 0;
}





.btn-active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.inp-text {
  width: 46%;

}

.line-outside {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.4rem 0 2.4rem 0;}

.title {
          color: hsl(0, 0%, 100%);
          font-weight: 700;
          font-size: 1.6rem;
      }

.desc {
          color: hsl(186, 14%, 43%);
          font-weight: 700;
          font-size: 1.3rem;
      }

.value {
          color: hsl(172, 67%, 45%);
          font-weight: 700;
          font-size: 3rem;
      
  
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 1.2rem;
}

.btn {
  width: 100%;
  background-color: hsl(172, 67%, 45%);
  text-transform: uppercase;
  text-align: center;
  color: $very-dark-cyan;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-top: 3.4rem;
  transition: all 0.5s ease;
}
  
.btn:hover {
      background-color: rgb(159, 232, 223);
}


.very-dark-cyan {color:  hsl(183, 100%, 15%)};
.dark-grayish-cyan1{color:hsl(186, 14%, 43%)};
.dark-grayish-cyan2{color: hsl(184, 14%, 56%)};
.light-grayish-cyan1{color: hsl(185, 41%, 84%)}; 
.light-grayish-cyan2{color: hsl(189, 41%, 97%)};
.strong-cyan {color:  hsl(172, 67%, 45%);}
.white{color: hsl(0, 0%, 100%)};
