* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Space Mono", monospace;
    background-color: hsl(185, 41%, 84%);
}


.center {
    width: 100%;
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splitter {
    margin: 5.5rem 0 3.5rem 0;
}

.kart{
    background-color: white;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  padding: 2.5rem;
}

.kart .in {
    width: 100%;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.kart .in .label {
    
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem 0;
}

.kart .in .label label {
    color: hsl(186, 14%, 43%);
  font-size: 1.5rem;
  font-weight: 700;
}

.kart .in .label .error {
    color: indianred;
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 0;
}

.kart .in .label .show {
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.kart .in .text {
    background-color: hsl(189, 41%, 97%);
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  padding: 0.5rem 2.4rem;
}

.kart .in .text:focus {
    outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.kart .in .wrapper2 {
    position: relative;
}

.kart .in .wrapper2 img {
    position: absolute;
  left: 2.4rem;
  top: 1.5rem;
}


.kart .in .wrapper2 {
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 1.2rem;
  }

  .kart .in .wrapper2 .btn {
    width: 46%;
    text-align: center;
    background-color: #00494d;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.6rem 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .kart .in .wrapper2 .btn:hover {
    background-color: #9fe8df;
  }

  .kart .in .wrapper2 .active {
    background-color: #26c0ab;
    color: #00494d;
  }

  .kart .in .wrapper2 .text {
    width: 46%;
  }

  .kart .out {
    background-color: #00494d;
    width: 100%;
    border-radius: 1.5rem;
    padding: 2.2rem;
  }

  .kart .out .line .line-output {
  
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.4rem 0 2.4rem 0;
  }

  .kart .out .line .line-output .title {
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .kart .out .line .line-output .desc {
    color: #7f9c9f;
    font-weight: 700;
    font-size: 1.3rem;
  }

  .kart .out .line .line-output .value {
    color: #26c0ab;
    font-weight: 700;
    font-size: 3rem;
  }

  .kart .out .btn {
    width: 100%;
    background-color: #26c0ab;
    text-transform: uppercase;
    text-align: center;
    color: #00494d;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin-top: 3.4rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .kart .out .btn:hover {
    background-color: #9fe8df;
  }

  @media screen and (min-width: 1440px) {
    .kart {
      width: 64%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      border-radius: 2.5rem;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 3.4rem;
      gap: 1.5rem;
      -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 30px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 30px rgba(0, 0, 0, 0.05);
    }
    .kart .in {
      width: 105%;
      padding: 0 3.5rem 1.5rem 1.5rem;
    }
    .kart .in .label {
      padding: 1rem 0;
    }
    .kart .in .btn-wrapper .btn {
      width: 30.5%;
    }
    .kart .in .wrapper2 .text {
      width: 30.5%;
    }
    .kart .out {
      width: 95%;
      
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 4rem;
    }
    .kart .out .line .line-output {
      margin: 0.5rem 0 2.4rem 0;
    }
    .kart .out .line .line-output .value {
      font-size: 4.6rem;
    }
  }

  @-webkit-keyframes show-err {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes show-err {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


.in {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.label {
    display: flex;
    align-items: .center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    padding: 0.6rem 0;
    

}

.out {
    background-color: hsl(183, 100%, 15%);
    width: 100%;
    border-radius: 1.5rem;
    padding: 2.2rem;
}

.error {
    color: indianred;
    font-weight: 700;
    font-size: 1.5rem;
}

.text {
    background-color: hsl(189, 41%, 97%);
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    color: hsl(183, 100%, 15%);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: right;
    padding: 0.5rem 2.5rem;


}

.text:focus {
    outline: none;
    border: 2px solid hsl(183, 100%, 15%);
}

.wrapper {
    position: relative;
    
    
}



.btn {
    width: 46%;
    text-align: center;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.6rem 0;
}





.active {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.text {
    width: 46%;

}

 .line-output {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1.4rem 0 2.4rem 0;}

.title {
            color: hsl(0, 0%, 100%);
            font-weight: 700;
            font-size: 1.6rem;
        }

.desc {
            color: hsl(186, 14%, 43%);
            font-weight: 700;
            font-size: 1.3rem;
        }

.value {
            color: hsl(172, 67%, 45%);
            font-weight: 700;
            font-size: 3rem;
        
    
}

.wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 1.2rem;
}

.btn {
    width: 100%;
    background-color: hsl(172, 67%, 45%);
    text-transform: uppercase;
    text-align: center;
    color: $very-dark-cyan;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin-top: 3.4rem;
    transition: all 0.5s ease;
}
    
.btn:hover {
        background-color: rgb(159, 232, 223);
}


.very-dark-cyan {color:  hsl(183, 100%, 15%)};
.dark-grayish-cyan1{color:hsl(186, 14%, 43%)};
.dark-grayish-cyan2{color: hsl(184, 14%, 56%)};
.light-grayish-cyan1{color: hsl(185, 41%, 84%)}; 
.light-grayish-cyan2{color: hsl(189, 41%, 97%)};
.strong-cyan {color:  hsl(172, 67%, 45%);}
.white{color: hsl(0, 0%, 100%)};




